<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>랭크 리스트</title>
</head>
<link th:href="@{/css/headfoot.css}" rel="stylesheet" type="text/css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	var selectedName;
	var selectedTitle;

	$(document).ready(function () {
		$('#branchName').change(function () {
			selectedName = $("#branchName option:selected").val();
			// URL 이동
			console.log(selectedName)
			window.location.href = '/admin/rankList/' + selectedName + '/전체';
		});

		$('#title').change(function () {
			selectedTitle = $("#title option:selected").val();
			$("#branchName").val(selectedName).prop("selected", true);
			// URL 이동
			console.log(selectedTitle)
			window.location.href = selectedTitle;
		});
	});
</script>

<body>
	<header>
		<div th:replace="~{inc/adminHeader :: headerMenu}"></div>
	</header>


	<input type="hidden" th:field="${title}" />
	<input type="hidden" th:field="${branchName}" />
	<h1>랭크 리스트</h1>
	<label for="branchName">지점명:</label>
	<select id="branchName" name="branchName">
		<option th:value="전체" th:text="전체"></option>
		<option th:each="brn : ${brnList}" th:value="${brn.name}" th:text="${brn.name}"
			th:selected="${brn.name == #vars.branchName}" />
	</select>
	<select name="title" id="title">
		<option th:value="전체" th:text="전체"></option>
		<option th:each="thema : ${themaList}" th:value="${thema.title}" th:text="${thema.title}"
			th:if="${branchName == '전체' || branchName == thema.branch.name}"
			th:selected="${thema.title == #vars.title}" />
	</select>

	<table border="">
		<tr>
			<td>순위</td>
			<td>날짜</td>
			<td>지점명</td>
			<td>테마명</td>
			<td>아이디</td>
			<td>남은 시간</td>
			<td>인원수</td>
		</tr>



		<tr th:each="rd, num : ${filterRankData}"th:if="${#vars.branchName == '전체' or rd.branchName == #vars.branchName}">
			<td th:text="${num.count}" />
			<td th:text="${rd.date}" />
			<td th:text="${rd.branchName}" />
			<td th:text="${rd.themaName}" />
			<td th:text="${rd.user.userId}" />
			<td>[[${rd.minutes}]]분 [[${rd.seconds}]]초 </td>


			<td th:text="${rd.people}" />
			<td>
				<a th:href="|/user/mypage/modify/${rd.branchName}/${rd.rankId}|"
					onclick="return confirm('수정하시겠습니까?');">수정</a>
				<a th:href="|/user/mypage/delete/${rd.rankId}/${rd.branchName}|"
					onclick="return confirm('삭제하시겠습니까?');">삭제</a>
			</td>
		</tr>


	</table>
	<a th:href="@{/main}">메인으로</a>
	<a th:href="|/admin/rvList/${adminBn}|">예약내역으로</a>
</body>

</html>