<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>결제 완료</title>
<link th:href="@{/css/headfoot.css}" rel="stylesheet" type="text/css">
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<body>
	<header>
		<div th:replace="inc/header :: headerMenu"></div>
	</header>
	
	<script>
		
		// 3초 후에 자동으로 이동
		setTimeout(redirectToCheckRv, 2000);
		
		// 예약 확인 페이지로 이동 함수
		function redirectToCheckRv() {
			window.location.href = "/reserve/checkRv";
		}
		
		alert("예약 확인 페이지로 이동합니다.");

	</script>
</body>

















</html>