<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>지점 정보</title>
	
	<link th:href="@{/css/headfoot.css}" rel="stylesheet" type="text/css">

	<style>
		#coordhidden {
			display: none;

		}
	</style>
	<!-- 네이버 지도 API 스크립트 포함 -->
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mftyiifxdb"></script>
</head>

<body>
			<block th:if="${userRole != null}">
			<div th:replace="~{inc/superHeader :: headerMenu}"></div>
		</block>
		<block th:if="${admin != null && userRole == null}">
			<div th:replace="~{inc/adminHeader :: headerMenu}"></div>
		</block>
		<block th:if="${userRole == null and admin == null}">
			<div th:replace="~{inc/header :: headerMenu}"></div>
		</block>
		</header>
		</block>	

	<h1>지점 정보</h1>
	<table>
		<!--        <thead>
            <tr>
                <th>지점을 선택하세요</th>
            </tr>
        </thead>-->
		<tbody>
			<tr th:each="branch : ${branches}">
				<td>
					<a th:href="@{'/home/branchInfo/' + ${branch.name}}" th:text="${branch.name}"
						style="cursor: pointer;"></a>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- 선택한 Branch의 정보를 표시할 영역 -->
	<div th:if="${selectedBranch != null}">
		<h2 th:text="${selectedBranch.name}">선택된 지점 이름</h2>
		<p th:text="'주소: ' + ${selectedBranch.address}">주소: 선택된 지점 주소</p>
		<p th:text="'전화번호: ' + ${selectedBranch.phone}">전화번호: 선택된 지점 전화번호</p>
		<p id="coordhidden" th:text="'좌표: ' + ${selectedBranch.coordinate}">좌표: 선택된 지점 좌표</p>
		<div id="map" style="width: 40%; height: 350px;"></div>
		<!-- 맵 아래에 다음 코드를 추가합니다 -->
		<!-- 테마 정보 -->
		<div>
			<h3>테마 정보</h3>
			<div th:each="thema : ${themas}" style="display: inline-block;">
				<div style="border: 1px solid #ccc; width: 230px;  padding: 10px; margin-bottom: 10px; ">
					<h4 th:text="${thema.title}">테마 제목</h4>
					<p th:text="${thema.type}">테마 타입</p>
					<!-- 포스터 이미지를 표시합니다. -->
					<a th:if="${thema.img}" href="/thema/intro" target="_blank">
						<img width="200px" height="300px" th:src="|/up/thema/${thema.poster}|" alt="테마 포스터">
					</a>
					<!--<a th:unless="${thema.img}" th:text="${thema.poster}" th:href="|/thema/download/${thema.poster}|" ></a>-->
				</div>
			</div>
		</div>


		<!-- 돌아가기 버튼 -->
		<button onclick="goBack()">돌아가기</button>

		<!-- JavaScript 함수로 뒤로 가기 기능 추가 -->
		<script th:inline="javascript">
			function goBack() {
				// 브라우저의 이전 페이지로 이동
				window.history.back();
			}

			// 선택한 Branch의 좌표 정보 가져오기
			var coordinate = [[${selectedBranch.coordinate}]];

			// 좌표 정보를 배열로 변환
			var coordinates = coordinate.split(',').map(Number);

			// 지도
			var mapOptions = {
				center: new naver.maps.LatLng(coordinates[0], coordinates[1]), // 선택한 지점의 좌표
				zoom: 16 // 확대 레벨 설정
			};

			var map = new naver.maps.Map('map', mapOptions);

			// 마커
			var marker = new naver.maps.Marker({
				position: new naver.maps.LatLng(coordinates[0], coordinates[1]), // 선택한 지점의 좌표
				map: map // 마커를 표시할 지도 객체
			});

			// 정보 창 생성
			var infowindow = new naver.maps.InfoWindow({
				content: '<div>' + [[${selectedBranch.name}]] + '</div>', // 정보 창에 표시할 내용 (HTML 형식)
				backgroundColor: 'rgba(255, 255, 255, 0.7)' // 정보 창의 배경색 설정 (선택 사항)
			});

			// 마커를 클릭하면 정보 창을 표시
			naver.maps.Event.addListener(marker, 'click', function () {
				infowindow.open(map, marker);
			});
		</script>

	</div>

</body>

</html>