<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 수정</title>
    <link th:href="@{/css/headfoot.css}" rel="stylesheet" type="text/css">

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script>
      $(document).ready(function () {
         // 비밀번호 필드 입력을 감시하고 값을 비밀번호 확인 필드에 복사
         $("#adminPw").on("input", function () {
            $("#adminPw1").val($(this).val());
         });
      });
   </script>
</head>
<body>
    <header>
        <div th:replace="~{inc/superHeader :: headerMenu}"></div>
    </header>
    <h2>관리자 수정</h2>
    <form method="post" th:object="${admin}">
      <table border="">
         <tr>
            <td>지점</td>
            <td>
               <select id="branchName" name="branchName" required>
                  <option value="" required>지점선택</option>
                  <option th:each="branch : ${branchlist}" th:value="${branch.name}"
                           th:text="${branch.name}" th:selected="${branch.name == admin.branchName}">
                   </option>
               </select>
            </td>
         <tr>
         <tr>
            <td>이름:</td>
            <td>
               <input type="text" th:field="*{name}">
               <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
            </td>
         </tr>
         <tr>
            <td>생년월일:</td>
            <td>
               <input type="text" th:field="*{birth}" readonly/>
               <div th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" />
            </td>
         </tr>
         <tr>
            <td>아이디:</td>
            <td>
               <input type="text" th:field="*{adminId}" />
               <div th:if="${#fields.hasErrors('adminId')}" th:errors="*{adminId}" />
            </td>
         </tr>
         <tr>
            <td>비밀번호:</td>
            <td>
               <input type="password" th:field="*{adminPw}" />
               <div th:if="${#fields.hasErrors('adminPw')}" th:errors="*{adminPw}" />
            </td>
         </tr>
         <tr style="display: none;">
            <td>비밀번호 확인</td>
            <td>
               <input type="password" th:field="*{adminPw1}">
               <div th:if="${#fields.hasErrors('adminPw1')}" th:errors="*{adminPw1}" />
            </td>
         </tr>
         <tr>
            <td>이메일:</td>
            <td>
               <input type="text" th:field="*{email}">
               <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
            </td>
         </tr>
         <tr>
            <td>연락처:</td>
            <td>
               <input type="text" th:field="*{phone}">
               <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" />
            </td>
         </tr>
         <tr>
            <td>
               <button type="submit">수정하기</button>
            </td>
         </tr>
      </table>
    </form>
</body>
</html>